#
# U N T R A C K E D
#

#
# extensions
# ----------
#
*.~*
*.bak
*.$$$
*.zip
*.7z

#
# files
# -----
#
Thumbs.db
VL

#
# folders
# -------
#
crm_r_loine_build

#
# binaries
# --------
#
*.exe
*.dll
